{% extends "base.html" %}

{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static "content/index.css" %}" />
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal header">لیست کارها</h2>
        <table class="ui inverted teal center aligned table">
            <thead>
                <tr>
                    <th>عنوان کار</th>
                    <th>ارزش کار</th> 
                    <th>تخمین زمانی</th>
                    <th>صاحب کار</th>
                    <th>توضیحات</th>
                </tr>
            </thead>
            <tbody>
              {% for task in tasks_list %}
                <tr>
                    <td> {{task.task_name}} </td>
                    <td> {{task.value}} </td>
                    <td> {{task.estimated_time}} </td>
                    <td> {{task.master.name}} </td>
                    <td>
                        <a class="ui inverted black basic button" href="{% url "content:task" task.pk %}">توضیحات</a> 
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class="ui right floated pagination menu">
              {%if tasks_list.has_previous %}
                <a class = "icon item" href="{% url "content:index_page" tasks_list.previous_page_number %}">صفحه قبل</a>
              {% endif %}
              {%if tasks_list.has_next%}
                <a class = "icon item" href="{% url "content:index_page" tasks_list.next_page_number %}">صفحه بعد</a>
              {% endif %}
        </div>
      </div>
    </div>
    
{% endblock %}
