{% extends "base.html" %}

{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static "content/index.css" %}" />
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">{{tasks.task_name}}</h2>
        <table class="ui inverted teal center aligned table">
            <thead>
                <tr>
                    <th>تخمین زمانی</th>
                    <th>ارزش کار</th> 
                    <th>افزوده شده در</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{tasks.estimated_time}} </td>
                    <td> {{tasks.value}} </td>
                    <td> {{tasks.pub_date}} </td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui teal header">توضیحات</h4>
        <p> {{tasks.description}} </p>
    </div>
</div>
{% endblock %}
