<!doctype html>

<html dir="rtl">
    <head>
    <meta charset="utf-8"/>
    <title>
      {% block title %}
        سامانه انجام کار
      {% endblock %}
    </title>

    <link
      rel="stylesheet"
      href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css">

    {% block css_links %}
    {% endblock %}

    <style type="text/css">
     body {
       background-color: #DADADA;
     }

     .ui.menu {
       border-radius: 0;
       margin: 0;
     }

     @media (min-height: 320px) {
      .ui.footer.form-page { 
        position: absolute;
        bottom: 0;
        width: 100%;
        }
    }
    </style>
  </head>

  <body>
    <div class="menu-container">
      <div class="ui large menu">
        <div class="ui main container">
          <a class="header item" href="{% url "content:index" %}">
            سامانه انجام کار
          </a>
        </div>
      </div>

    {% block content %}
    {% endblock %}
    
  </div>

    <div class="ui inverted vertical footer segment form-page">
    <div class="ui container">
        <div class="ui inverted horizontal link list">
            <a href="cafebazaar.ir" class="item"> درباره ما </a>
            <a href="Divar.ir" class="item"> قوانین </a>
        </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js">
    </script>

    {% block js_scripts %}
    {% endblock %}
  </body>
</html>
